.testimonials{
    background-image:linear-gradient(rgba(190, 79, 79, 0.7),rgba(194, 97, 97, 0.7)),url(../../asset/test.jpg)!important;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
   }