@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container{
  padding: 5rem 3rem 5rem 3rem;
}
.logo,font{
  font-family: "Satisfy", cursive;
}
.font{
  font-family: "Satisfy", cursive;
}
.appbar {
  background-color: #ea4343 !important;
  box-shadow: none !important;
}

.dynamic-txt {
  overflow: hidden;
  margin: 0;
  display: inline-block;
}
.dynamic-txt {
  list-style: none;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txt b {
  position: relative;
}
.dynamic-txt b::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid #393332;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.banner-text span {
  font-weight: bold;
  color: #ea4343;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
  font-family: "Satisfy", cursive;
}

.banner-text b {
  display: flex;
  justify-content: flex-start;
  color: #393332;
  font-size: 4rem;
}
.banner-text p {
  display: flex;
  justify-content: flex-start;
  color: #393332;
  font-size: 1.2rem;
}


.banner-right-con {
  animation-name: moving;
  animation-duration:8s;
  animation-delay: 2s;
}
@keyframes moving {
  /* 0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  } */
  0% {border-color: white;left:0px;top:0px;}
  25% {border-color: white;left:200px;top:0px;}
  50% {border-color: white;left:200px;top:200px;}
  75% {border-color: white;left:0px;top:200px;}
  0% {border-color: white;left:0px;top:0px;}
}


.large_circle,
.small_circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid gray;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  /* transform: translate(calc(-50% + 15px), -50%); */
  transform: translate(-50%, -50%);
  z-index: 9;
}
.small_circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ea4343;
}


.expertise-card {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 85px 0 #F9F5F6;
}
.expertise-card:hover {
  border-color: #ea4343;
  transform: translateY(-8px);
  transition: transform 0.4s linear;
}
.effect{
  transition: 0.3s;
 }
 .effect:hover{
   transform: rotate(30deg);
 }
 .moving{
  transition: 0.3s;
 }
 .moving :hover{
  transform: scale(1.05);
 }

 .contact{
  box-shadow: #ea4343;
  opacity: 100px;
 }